.item-container {
  height: 5rem;
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #000;
  flex-wrap: wrap;
}

.img-container {
  border-radius: 0.25rem;


}

.img-container img {
  object-fit: cover;
  display: block;
  height: 4rem;
  width: 4rem;
}

.rating-container {
  display: flex;
  align-items: center;
  width: 20%;
  cursor: pointer;
}

.rating-container img {
  object-fit: cover;
  display: block;
  height: 2.5rem;
  width: 2.5rem;
}
.rating-container span {
  font-weight: 600;
}